@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4 fw-medium text-success">Welcome <i class="bi bi-airplane-fill fw-bold"></i></h1>
    <p class="text-dark">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
